@charset "utf-8";

body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    width: 238px;
    margin:137px auto;
}
button{
    width: 100px;
    height: 40px;
    background: green;
    border: 1.5px solid black;
    margin: 15px 32px;
    border-radius: 10px;
    color: white;
}