@charset "utf-8";

.underMail{
	background-color: #000000;
	border-radius: 0 0;  
	width: 100%;
	height: 280px;	
	display: inline-block;
	position: relative;
	margin: 196px 0 0 0;
    padding: 0;
	bottom: 0;
}