@charset "utf-8";
html{
	height: 100%;
}

body {
    margin:0;
    padding:0;
    background-color: #fff;
}
.icon2{
	position: absolute;
	left: 1257px;
	width: 53px;
	height: 53px;
	margin-top: -75px;
}

.frame{
	margin-top: 17%;
	width: 100%;
    height: 280px;
    background-color:#000000;
	margin:-17px auto auto;
	border-radius: 0 0;
}
.pass {
	align-items: center;
	width: 374.4px; 
	height: 106.8px;
	display:block;
	margin: auto;
	margin-top: 15px;
	padding: 20px;
}
.icon{
	position: absolute;
	left: 1250px;
	margin-right: 80px;
	width: 60px;
	height: 60px;
	margin-top: 15px;
}
#cart-count {
	position: absolute;
	width: 17px;
	height: 17px;
	line-height: 17px;
	display: inline-block;
	text-align: center;
	background: #eb5050;
	border-radius: 50%;
	border: 2px solid white;
	color: #fff;
	font-size: 9px;
	position: relative;
	top: 25px; 
	left: 1291px;
}
.main_h1{
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 25px;
	color: #fff;
	text-align: center;
}
