@charset "utf-8";

.art {
	text-align: center;
	width: 200px;
	height: 200px;
}
html{
	height: 100%;
}
body {
    margin:0;
    padding:0;
    background-color: #fff;
}
.inset {
    border-radius: 10px 10px 10px 10px;
    height: 300px;
	width: 300px;
}
.with_text {
    width: 70px;
    height: 50px;
    margin-left: 7px;
}
.top1 {
    border-radius: 0;
    margin:0;
    margin-top: -4px;
    display: flex;
    font-size: 27px;
    color: #0a0;
    height: 70px;
    width:100%;
    align-items: center;
    justify-content: center;
    background-color: lightgreen;
}

div {
    width: 300px;
    height: 380px;
    
    border-radius: 10px;
    margin: 5px 5px;
}

.first {
	margin-left: 9px;
    float: left;
}

.second {
    float: left;
}


.name {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    width: 288px;
    height: 110px;
    margin-top: 5px;
    margin-left: 5.5px;
    border-radius: 10px;
}
.underMail{
	background-color: #000000;
	border-radius: 0 0;  
	width: 100%;
	height: 280px;	
	display: inline-block;
	position: relative;
	margin: 100px 0 0 0;
    padding: 0;
	bottom: 0;
}


/*======================================Кнопка==============================================*/

button, .btns-style{
    position: relative;
    display: inline-block;
    color:#000000;
    font-size: 15px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.5s;
    letter-spacing: 2px;
	width: 300px;
	height: 50px;
	border-radius: 10px;
	border: 1.5px solid #000000;
    font-weight: bold;
	outline: none;
}


button:hover, .btns-style:hover{
    background: black;
    color:white;
    box-shadow: 0 0 5px gray,
                0 0 25px gray,
                0 0 50px gray,
                0 0 200px gray;
	border: 1.5px solid white;
}

button:active, .btns-style:active{
	border-radius: 10px;
	border: green;
}

.Names{
	text-align: center;
	font-size: 35px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}
.middle{
	margin: auto;
	width: 940px;
    height: 750px;
}
.link_h1{
	color: white;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	text-align: center;
	outline: none;
}
.link_h1:hover{
	transition: 0.5s;
	text-decoration: underline;
}

  